.tournament-header {
  background: white;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
}

.tournament-header-name {
  font-size: 20px;
  font-weight: bold;
}

.tournament-header-medium {
  font-size: 14px;
}

.tournament-header-small {
  font-size: 10px;
}

.tournament-header-date {
  margin-bottom: 5px;
}
